<footer class="bg-gray-800 p-4 text-white">
  <div class="flex justify-between container mx-auto text-sm">
    <div>
      <h5 class="font-bold text-white mb-2">About</h5>
      <ul>
        <li><a href="#" class="text-white hover:text-gray-300">Help Center</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Company Info</a></li>
      </ul>
    </div>
    <div>
      <h5 class="font-bold text-white mb-2">Discover</h5>
      <ul>
        <li><a href="#" class="text-white hover:text-gray-300">Vacation Rentals</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">List Your Property</a></li>
      </ul>
    </div>
    <div>
      <h5 class="font-bold text-white mb-2">Support</h5>
      <ul>
        <li><a href="#" class="text-white hover:text-gray-300">Terms of Service</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
