<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h5>About</h5>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Company Info</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Discover</h5>
      <ul>
        <li><a href="#">Vacation Rentals</a></li>
        <li><a href="#">List Your Property</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h5>Support</h5>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
