<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/" class="flex items-center">
      <%= image_tag "favicon.png", class: "h-8 w-8 mr-2 bg-white rounded-md" %>
      <span class="text-white font-bold">FigurineHaven</span>
    </a>

    <%# <div class="flex items-center"> %>
      <%= link_to 'Figurines', figurines_path, class: 'text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium', data: { turbo: false } %>
      <a href="/bookings/renter" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" data-turbo="false">My Figurines</a>
      <a href="/bookings/owner" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" data-turbo="false">Owner Dashboard</a>

      <%= link_to 'Add a new Figurines', new_figurine_path, id:'nav-btn', class: 'ml-4 inline-block text-white font-bold py-2 px-4 rounded-lg' %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class:'text-white' %>
    <%# </div> %>
  </div>
</nav>
