<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "favicon.png", class: "icon" %>
    </a>
    <%= link_to 'Add a new Broom', new_broom_path, class: 'btn btn-primary' %>
  </div>
</nav>
