<h1>All our Brooms</h1>

<%= link_to 'Add a new Broom', new_broom_path, class: 'btn btn-primary' %>

<ul>
  <% @brooms.each do |broom| %>
    <li class="brooms-display">
      <%= link_to broom.name, broom_path(broom) %>
      <p><%= broom.description %></p>
      <p>price : <%= number_to_currency(broom.price) %></p>
    </li>
  <% end %>
</ul>
