<h1 class='title'>Nimbus Seller</h1>
<%= image_tag 'broom.png', class: 'broom-logo', tabindex: "0" %>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const broomLogo = document.querySelector('.broom-logo');
  if (broomLogo) {
    broomLogo.addEventListener('click', function() {
      this.style.animationName = 'rotateImage';
      this.addEventListener('animationend', function() {
        window.location.href = '/brooms';
      });
    });
    broomLogo.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        this.click();
      }
    });
  }
});
</script>
