// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  // background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXFmbGQzeGU5OWpmMndqZzFvbWtrYXE5djd3aWdrdGN1Nmd2c3BtaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xBQcBO3NwQXE7o3Dik/giphy.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin: 10rem;
  font-size: 5em;
  color: black;
  text-align: center;
  margin-top: 20px;
}

@keyframes rotateImage {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.broom-logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
